body
  background-color: #fafafa
  font-family: sans-serif
  margin: 0 auto
  width: 980px
  padding-top: 20px
  color: #333
  padding-top: 70px

h1
  font-size: 18px
  font-weight: bold

h2
  font-size: 14px
  font-weight: bold


nav
  position: fixed
  left: 0
  right: 0
  top: 0
  padding: 10px 30px
  background: #eee
  z-index: 10
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.5)

label
  display: block
  line-height: 1.6

.search
  float: right

figure
  display: inline-block
  position: relative
  padding: 20px
  overflow: hidden
  height: 48px + 35px
  width: 64px
  margin: 10px
  text-align: center
  border-radius: 4px
  background-color: #eee


  img
    width: 48px
    height: 48px
    max-height: 48px
    max-width: 48px
    opacity: 1.0
    transition: opacity 1s

    &[data-src]
      opacity: 0.0

  figcaption
    position: absolute
    top: 48px + 35px
    font-size: 8pt
    left: 0
    right: 0
    padding: 5px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.hidden
  display: none

.selected
  background-color: #eee

.is-searching
  .iconset, .icongroup
    display: none
    &.is-active
      display: block

  figure
    display: none
    &.is-match
      display: inline-block
