# an example:
#
# Dave (I don"t know who Dave is) has a MacBook, so his homedirectory can be found here:

HOME = "/Users/dave"

# Dave keeps several icon sets in a subdirectory icons in ~/Pictures
# We're supposed to list them here, one by one with their name followed by the path.

ICON_SETS = [
  # Flaticons from https://flaticons.co/
  ["Flaticons Social", "#{HOME}/Pictures/icons/Flaticons/flaticons_social/SVGs"],
  ["Flaticons Solid", "#{HOME}/Pictures/icons/Flaticons/flaticons_solid/SVGs"],
  ["Flaticons Stroke", "#{HOME}/Pictures/icons/Flaticons/flaticons_stroke/SVGs"],

  # My self-drawn doodles:
  ["Dave's own icons", "#{HOME}/Pictures/icons/Dave/"],

  # the icons we are using for our awesome product:
  ["The Icons 1000", "#{HOME}/Pictures/icons/theicons-1000/SVG"],
  ["Stroke Gap Icons", "#{HOME}/Pictures/icons/Stroke-Gap-Icons-Webfont/SVG"]
]
